@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Montserrat&family=Righteous&family=Roboto+Condensed&family=Ubuntu&display=swap');

body {
	margin: 79px 0 0 0;
	padding: 0;
	font-family: Lato, sans-serif;
}

html,
body {
	overflow-x: hidden;
}

/* navbar */

.navbar {
	background-color: #e9e4e1 !important;
}

.navbar-brand {
	color: #7c3c21 !important;
	font-family: Pacifico, sans-serif;
	font-size: 35px;
}

.nav-link {
	font-size: 16px;
	margin: 15px;
	color: black !important;
	font-family: 'Roboto Condensed', sans-serif;
}

.nav-link:hover {
	color: #ee8137 !important;
}

.active .nav-link {
	color: #ee8137 !important;
}

/* landing page */

.site-content {
	background: linear-gradient(to right, #141e30, #243b55);
	padding: 4% 0;
}

.site-title,
.site-desc {
	color: #fdede2;
	font-family: Righteous, sans-serif;
}

.site-title {
	font-size: 50px;
}

.site-desc {
	font-size: 20px;
}

/* section 1 */
.section-1 .activity {
	margin: 0 auto;
	padding: 0 1%;
	width: 70%;
}

.section-1 .img {
	width: 100%;
	margin: 0 auto;
	display: block;
	object-fit: cover;
}

.section-1 .notfound .img {
	width: 20%;
	margin: 0 auto;
	display: block;
}

.section-1 .notfound {
	color: #fbc49c;
}

.section-1 .para-1 {
	padding: 2% 0;
	text-align: justify;
	margin: 2% auto;
}
.section-1 .heading-1 {
	font-family: Ubuntu, sans-serif;
	color: #7c3c21;
	text-transform: capitalize;
}

.section-1 .rules {
	margin: 4% 0;
	border: 0;
	height: 1px;
	width: 100%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(5, 4, 15, 0.75), rgba(0, 0, 0, 0)) !important;
}

.section-1 .button {
	color: white;
	background-image: linear-gradient(to right, #141e30, #243b55);
	width: 70%;
	display: block;
	margin: 0 auto;
}
.section-1 .button:hover {
	color: white;
	background-image: linear-gradient(to right, #3a79ee, #007bff);
}

.section-1 .search-input {
	width: 70%;
}

.section-1 .randomactivity {
	width: 75%;
	margin: 0 auto;
}

.section-1 .randomactivity .card {
	width: 100%;
	margin: 0 auto;
}

.section-1 .randomactivity .card-title {
	text-transform: capitalize;
}

@media screen and (max-width: 500px) {
	.section-1 .activity {
		width: 95%;
	}
	.section-1 .button {
		width: 95%;
	}
}

/* footer */
.footer {
	background-color: #e9e4e1;
}

.footer .ul-footer {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	overflow: hidden;
}

.footer .ul-footer li {
	display: inline;
	font-size: 14px;
}

.footer .ul-footer li a {
	display: inline;
	text-align: center;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
}

.footer .ul-footer li a:hover {
	color: #0099ff;
}

.footer .param-footer {
	margin-bottom: 0;
}

.footer .param-footer1 {
	margin-bottom: 2%;
}

.footer .sponsor-img {
	width: 50px;
	height: 50px;
}
