@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto+Condensed:wght@700&family=Ubuntu&display=swap');

body {
	margin: 79px 0 0 0;
	padding: 0;
	font-family: Lato, sans-serif;
}

.no-border {
	border: 0;
	box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

/* navbar */

.navbar {
	background-color: #e9e4e1 !important;
}

.navbar-brand {
	color: #7c3c21 !important;
	font-family: Pacifico, sans-serif;
	font-size: 35px;
}

.nav-link {
	font-size: 16px;
	margin: 15px;
	color: black !important;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

.nav-link:hover {
	color: #ee8137 !important;
}

.active .nav-link {
	color: #ee8137 !important;
}

/* landing page */

.site-content {
	background-image: url('../images/gunung1.png');
	background-size: cover;
	padding: 18% 0;
}

.site-title,
.site-desc {
	color: #fbc49c;
	font-family: Righteous, sans-serif;
}

.site-title {
	font-size: 50px;
}

.site-desc {
	font-size: 20px;
}

hr.site-hr {
	border: 0;
	height: 1px;
	width: 80%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
}

/* section 1 */
.section-1 {
	margin: 5% auto;
}

.section-1 .card {
	background-color: #f9c49a;
	border: 3px solid #f9c49a;
	margin-bottom: 5%;
}

.section-1 .heading-1 {
	font-size: 39px;
	margin-bottom: 5%;
	font-family: Ubuntu, sans-serif;
}

.section-1 .para-1 {
	width: 60%;
	margin: 5% auto;
}

.section-1 .card-text,
.para-1 {
	color: rgba(0, 0, 0, 0.60);
	text-align: justify;
}

/* section 2 */
.section-2 {
	margin-top: 5%;
	padding-bottom: 5%;
	background-color: #7d3c20;
}

@media (min-width: 768px) {
	.section-2 {
		margin-top: -280px;
		padding-top: 280px;
	}
}

.section-2 .img {
	width: 100%;
	height: 40%;
	object-fit: cover;
	border: 3px solid #f9c49a;
}

.section-2 .content {
	margin: 5% auto;
	color: #e9e4e1;
}

.section-2 .heading-2 {
	font-family: Ubuntu, sans-serif;
}

/* section 3 */
.section-3 {
	margin: 5% auto;
}

.section-3 .heading-3 {
	font-family: Ubuntu, sans-serif;
}

.section-3 .img {
	width: 100%;
	height: 40%;
	object-fit: cover;
}

.section-3 .param-3 {
	text-align: justify;
}

/* footer */
.footer {
	background-color: #e9e4e1;
	padding: 5% 2%;
}

.footer .param-footer {
	margin-bottom: 0;
	margin-top: 0.5%;
}

.footer .mapouter {
	position: relative;
	text-align: right;
	height: 250px;
	width: 350px;
}
.footer .gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 250px;
	width: 350px;
}
.footer .sosmed {
	margin-bottom: 20px;
}

@media (min-width: 1080px) {
	.footer .sosmed {
		margin-bottom: 120px;
	}
}
