@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Montserrat&family=Righteous&family=Roboto+Condensed&family=Ubuntu&display=swap');

body {
	margin: 79px 0 0 0;
	padding: 0;
	font-family: Lato, sans-serif;
}

html,
body {
	overflow-x: hidden;
}

/* navbar */

.navbar {
	background-color: #e9e4e1 !important;
}

.navbar-brand {
	color: #7c3c21 !important;
	font-family: Pacifico, sans-serif;
	font-size: 35px;
}

.nav-link {
	font-size: 16px;
	margin: 15px;
	color: black !important;
	font-family: 'Roboto Condensed', sans-serif;
}

.nav-link:hover {
	color: #ee8137 !important;
}

.active .nav-link {
	color: #ee8137 !important;
}

/* landing page */

.site-content {
	background: linear-gradient(to right, #141e30, #243b55);
	padding: 4% 0;
}

.site-title {
	color: #fdede2;
	font-family: Righteous, sans-serif;
	font-size: 50px;
}

/* section 1 */
.section-1 {
	padding: 5% 0;
}

.section-1 .atag {
	text-decoration: none;
	color: black;
}

.section-1 .card {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	border-radius: 0;
	border: none;
	margin: 5% auto;
}

.section-1 .card:hover {
	box-shadow: 0 4px 8px 0 rgba(3, 93, 167, 0.2), 0 6px 20px 0 rgba(3, 170, 192, 0.19);
}

.section-1 .card-text {
	text-align: justify;
}

.section-1 .card-body {
	height: 230px;
}

.section-1 .img {
	width: 288px;
	height: 288px;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.section-1 .notfound .img1 {
	width: 20%;
	margin: 0 auto;
	display: block;
}

.section-1 .notfound {
	width: 100%;
	color: #fbc49c;
}

.section-1 #myBtn {
	position: fixed;
	bottom: 361px;
	right: 0;
	z-index: 99;
	padding: 10px 40px;
	border-radius: 0;
}

.section-1 .author {
	font-size: 14px;
	font-family: Ubuntu, sans-serif;
	color: #b6b6b6;
}

.section-1 .author .username {
	text-transform: capitalize;
}

@media screen and (max-width: 500px) {
	.section-1 {
		width: 95%;
	}
}

@media screen and (max-width: 700px) {
	.section-1 #myBtn {
		bottom: 20px;
		right: 30px;
		padding: 15px;
	}
}

/* footer */
.footer {
	background-color: #e9e4e1;
}

.footer .ul-footer {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	overflow: hidden;
}

.footer .ul-footer li {
	display: inline;
	font-size: 14px;
}

.footer .ul-footer li a {
	display: inline;
	text-align: center;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
}

.footer .ul-footer li a:hover {
	color: #0099ff;
}

.footer .param-footer {
	margin-bottom: 0;
}

.footer .param-footer1 {
	margin-bottom: 2%;
}

.footer .sponsor-img {
	width: 50px;
	height: 50px;
}
